<p id="notice"><%= notice %></p>
length: <%=@fib.sequence_length%><br/>
square sum: <%=@fib.square_sum%><br/>
sequence: <%=@fib.sequence%><br/>
<br/>
<%= link_to 'Edit', edit_fib_path(@fib) %> |
<%= link_to 'Back', fibs_path %>
